<!-- show post layout -->
{{#if routines}}
  <div class="row justify-content-center">

  {{#each routines as |routine|}}

    <div class="wrapper col-10 col-md-6 col-lg-4">

      <div class="card radius shadowDepth1">
        <div class="card__image border-tlr-radius">
          <img src="{{routine.photoURL}}" onerror=this.src="https://i.imgur.com/mOHWsc3.png" alt="image" class="border-tlr-radius mx-auto">
        </div>

        <div class="card__content card__padding">
          <div class="card__share">
          </div>

          <article class="card__article">
            <h2><a href="#" class="show-routine-link" data-id="{{routine._id}}">{{routine.routineType}}</a></h2>

            <p>{{routine.description}}</p>

            <div class="row justify-content-center">
            <button class="show-routine-link btn btn-secondary" data-id="{{routine._id}}">View Routine</button>
            </div>
          </article>
        </div>
      </div>
    </div>

  {{/each}}
  </div>
{{else}}
  <p class="noRoutinesMessage">No routines currently posted. Add a routine to start it up!</p>
{{/if}}
