<a id="edit-back-button" class="mr-3" aria-hidden="true" data-id="{{ routine._id }}"><i style="color: white" class="fa fa-arrow-left fa-2x m-2"></i></a>

<!-- Edit Routine Form -->
<div class="row justify-content-center edit-form">
  <div class="col-12 col-md-8 col-lg-6">
<form id="edit-routine" data-id="{{ routine._id }}">
  <h2>Edit Your Routine</h2>
  <div class="form-group">
    <label for="routineType">Routine Type</label>
    <select class="form-control" id="routineType" name="routine[routineType]" required>
      <option style="display:none;" selected>{{routine.routineType}}</option>
      <option>On-The-Go</option>
      <option>Every Day</option>
      <option>Night Out</option>
      <option>Special Occasion</option>
    </select>
  </div>
  <div class="form-group">
    <label for="description">Short Description</label>
    <textarea class="form-control" id="description" rows="3" name="routine[description]" required>{{routine.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="photoURL">Photo URL</label>
    <p><i>Please use the extension in the URL such as .png or .jpg</i></p>
    <textarea rows="1" class="form-control" id="photoURL" name="routine[photoURL]" required>{{routine.photoURL}}</textarea>
  </div>
  <div class="form-group">
    <label for="faceShape">Face Shape</label>
    <select class="form-control" id="faceShape" name="routine[faceShape]" required>
      <option style="display:none;" selected>{{routine.faceShape}}</option>
      <option>Diamond</option>
      <option>Heart</option>
      <option>Rectangular</option>
      <option>Oval</option>
      <option>Round</option>
      <option>Square</option>
    </select>
  </div>
  <div class="form-group">
    <label for="skinType">Skin Type</label>
    <select class="form-control" id="skinType" name="routine[skinType]" required>
      <option style="display:none;" selected>{{routine.skinType}}</option>
      <option>Dry</option>
      <option>Oily</option>
      <option>Combination</option>
    </select>
  </div>
  <div class="form-group">
    <label for="eyeColor">Eye Color</label>
    <select class="form-control" id="eyeColor" name="routine[eyeColor]" required>
      <option style="display:none;" selected>{{routine.eyeColor}}</option>
      <option>Blue</option>
      <option>Brown</option>
      <option>Hazel</option>
      <option>Green</option>
      <option>Amber</option>
      <option>Gray</option>
    </select>
  </div>
  <div class="form-group">
    <label for="process">My Process</label>
    <textarea class="form-control" id="process" rows="10" name="routine[process]" required>{{routine.process}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary pull-right" id="edit-routine-button" style="margin-left: 5px;">Edit & Post Routine</button>
  <button type="button" class="btn btn-secondary edit-routine-cancel pull-right">Cancel</button>
</form>
</div>
</div>
