<a id="view-back-button" class="mr-3" aria-hidden="true" data-id="{{ routine._id }}"><i style="color: #43a1f7;" class="fa fa-arrow-left fa-2x m-2"></i></a>

  <div class="card-body">
    <form class="mb-1">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: #f3f6f9;"><strong>Routine Type:</strong>
          <span>{{routine.routineType}}</span>
        </li>
        <li class="list-group-item" style="background-color: #f3f6f9;"><strong>Description:</strong>
          <span>{{routine.description}}</span>
        </li>
        <li class="list-group-item" style="background-color: #f3f6f9;"><strong>Face Shape:</strong>
          <span>{{routine.faceShape}}</span>
        </li>
        <li class="list-group-item" style="background-color: #f3f6f9;"><strong>Skin Type:</strong>
          <span>{{routine.description}}</span>
        </li>
        <li class="list-group-item" style="background-color: #f3f6f9;"><strong>Eye Color:</strong>
          <span>{{routine.eyeColor}}</span>
        </li>
        <li class="list-group-item" style="background-color: #f3f6f9;"><strong>Process:</strong>
          <span>{{routine.process}}</span>
        </li>
      </ul>
    </form>
</div>
