<a id="view-back-button" class="mr-3" aria-hidden="true" data-id="{{ routine._id }}"><i style="color: white;" class="fa fa-arrow-left fa-2x m-2"></i></a>

<div class="row justify-content-center show-routine-card">
  <div class="col-12 col-md-8 col-lg-6">
  <div class="card-body" id="show-routine">
    <form class="mb-1">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style="background-color: grey;">
          <h3 style="text-align: center;"><span>{{routine.routineType}}</span></h3>
          <div style="text-align: center;"><span>{{routine.description}}</span></div>
        </li>
        <li class="list-group-item" style="background-color: grey;"><strong style="color: black;">Face Shape:</strong>
          <span>{{routine.faceShape}}</span>
        </li>
        <li class="list-group-item" style="background-color: grey;"><strong style="color: black;">Skin Type:</strong>
          <span>{{routine.description}}</span>
        </li>
        <li class="list-group-item" style="background-color: grey;"><strong style="color: black;">Eye Color:</strong>
          <span>{{routine.eyeColor}}</span>
        </li>
        <li class="list-group-item" style="background-color: grey;"><strong style="color: black;">Process:</strong>
          <span>{{routine.process}}</span>
        </li>
      </ul>
    </form>
</div>
</div>
</div>
